<div>
  <link href="./header.css" rel="stylesheet" />
  <script
    type="text/javascript"
    src="https://unpkg.com/@lottiefiles/lottie-player@1.6.0/dist/lottie-player.js"
  ></script>
  <div data-role="Header" class="header-header">
    <nav class="header-nav">
      <div class="header-container">
        <a href="index.html" class="header-navlink Large">
          Sankeerthikan Nimalathas
        </a>
        <div class="component6-container">
          <svg viewBox="0 0 1024 1024" class="component6-icon">
            <path
              d="M512 128c0 0-263.936 227.84-411.435 351.232-8.661 7.851-15.232 19.285-15.232 32.768 0 23.595 19.072 42.667 42.667 42.667h85.333v298.667c0 23.595 19.072 42.667 42.667 42.667h128c23.595 0 42.667-19.115 42.667-42.667v-170.667h170.667v170.667c0 23.552 19.072 42.667 42.667 42.667h128c23.595 0 42.667-19.072 42.667-42.667v-298.667h85.333c23.595 0 42.667-19.072 42.667-42.667 0-13.483-6.571-24.917-16.341-32.768-146.475-123.392-410.325-351.232-410.325-351.232z"
            ></path>
          </svg>
        </div>
        <a href="projects.html" class="header-navlink1">
          <div
            class="primary-pink-button-container primary-pink-button-root-class-name3"
          >
            <button class="primary-pink-button-button button ButtonSmall">
              <span>Projects</span>
            </button>
          </div>
        </a>
        <a
          href="https://www.overleaf.com/read/"
          target="_blank"
          rel="noreferrer noopener"
          class="header-link"
        >
          <div
            class="primary-pink-button-container primary-pink-button-root-class-name2"
          >
            <button class="primary-pink-button-button button ButtonSmall">
              <span>Resume</span>
            </button>
          </div>
        </a>
        <div class="header-container1">
          <div data-role="BurgerMenu" class="header-burger-menu"></div>
        </div>
        <lottie-player
          src="https://lottie.host/045b2a28-51b6-475c-a4fe-cf199a82e41c/C4RWxI3KIs.json"
          loop
          hover
          speed="1"
          autoplay
          background="transparent"
          class="header-lottie-node"
        ></lottie-player>
      </div>
    </nav>
    <div data-role="MobileMenu" class="header-mobile-menu">
      <div class="header-top">
        <a href="index.html" class="header-navlink2 Large">
          Soft UI Design System
        </a>
        <div data-role="CloseMobileMenu" class="header-close-menu">
          <svg viewBox="0 0 1024 1024" class="header-icon">
            <path
              d="M810 274l-238 238 238 238-60 60-238-238-238 238-60-60 238-238-238-238 60-60 238 238 238-238z"
            ></path>
          </svg>
        </div>
      </div>
      <div class="header-mid">
        <div class="header-menu">
          <a href="index.html" class="header-navlink3 Large">Home</a>
          <span class="header-text Large">Profile</span>
          <span class="header-text1 Large">Coming Soon</span>
        </div>
      </div>
      <div class="header-bot">
        <div class="primary-pink-button-container">
          <button class="primary-pink-button-button button ButtonSmall">
            <span>buy now</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
